

{% extends "base.html" %}
{% block title %}Request Details{% endblock %}

{% block content %}
<h2>Request Details</h2>

<div>
    <h3>{{ br.name }} ({{ br.blood_group }})</h3>
    <p><strong>Address:</strong> {{ br.address }}</p>
    <p><strong>Reason:</strong> {{ br.reason|default:"N/A" }}</p>
    <p><strong>Requested By:</strong> {{ br.requester.username }}</p>
</div>

<div id="map" style="height: 400px; margin-bottom:20px;"></div>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script>
let map = L.map('map').setView([16.3067, 80.4365], 13);
L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", { maxZoom: 19 }).addTo(map);

let requesterMarker = null;
let donorMarkers = {};

function fetchLocations() {
    fetch("{% url 'blood_requests:donor_map' br.id %}?json=1")
        .then(res => res.json())
        .then(data => {
            if (data.requester) {
                if (!requesterMarker) {
                    requesterMarker = L.marker([data.requester.lat, data.requester.lng])
                    .addTo(map)
                    .bindPopup("Requester: {{ br.requester.username }}")
                    .openPopup();
                    map.setView([data.requester.lat, data.requester.lng], 14);
                } else {
                    requesterMarker.setLatLng([data.requester.lat, data.requester.lng]);
                }
            }

            data.donors.forEach(donor => {
                if (!donorMarkers[donor.id]) {
                    donorMarkers[donor.id] = L.marker([donor.lat, donor.lng])
                    .addTo(map)
                    .bindPopup("Donor: " + donor.username);
                } else {
                    donorMarkers[donor.id].setLatLng([donor.lat, donor.lng]);
                }
            });
        });
}

setInterval(fetchLocations, 5000);
fetchLocations();
</script>

{% if request.user in br.accepted_donors.all %}
<script>
function sendLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            fetch("{% url 'blood_requests:update_location' %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                })
            });
        });
    }
}
setInterval(sendLocation, 10000);
</script>
{% endif %}

{% endblock %}

