{% extends "base.html" %}
{% block title %}Request Map{% endblock %}

{% block content %}
<h2>Request Map - {{ br.name }} ({{ br.blood_group }})</h2>
<div id="map" style="height: 500px;"></div>

<script>
let map = L.map('map').setView([20.5937, 78.9629], 5);
L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", { maxZoom: 19 }).addTo(map);

let markers = {};
let requesterMarker = null;

function fetchLocations() {
    fetch("{% url 'live_tracking:donors_for_request' br.id %}")
        .then(res => res.json())
        .then(data => {
            // Clear old markers
            Object.values(markers).forEach(m => map.removeLayer(m));
            markers = {};

            // Requester
            if (data.requester) {
                requesterMarker = L.marker([data.requester.lat, data.requester.lng], {
                    icon: L.icon({iconUrl: "https://cdn-icons-png.flaticon.com/512/1077/1077012.png", iconSize: [32,32]})
                }).addTo(map).bindPopup("Requester: {{ br.requester.username }}").openPopup();
                map.setView([data.requester.lat, data.requester.lng], 14);
            }

            // Donors
            data.donors.forEach(d => {
                markers[d.id] = L.marker([d.lat, d.lng], {
                    icon: L.icon({iconUrl: "https://cdn-icons-png.flaticon.com/512/1946/1946429.png", iconSize: [32,32]})
                }).addTo(map).bindPopup("Donor: " + d.username);
            });
        });
}

fetchLocations();
setInterval(fetchLocations, 5000);
</script>
{% endblock %}
